
@{
    ViewBag.Title = "ListReport";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DailySale</title>
</head>
<body>
    <h3>List Orders</h3>
    <table cellpadding="2" border="1">
        <tr>
            <th>OrderID</th>
            <th>CustomerName</th>
            <th>product</th>
            <th>Quantity</th>
            <th>OrderDate</th>


        </tr>
        @foreach (var p in ViewBag.ListReport)
        {
            <tr>
                <td>@p.o_id</td>
                <td>@p.UserName</td>
                <td>@p.ProductName</td>

                <td>@p.o_qty</td>
                <td>@p.orderdate</td>

            </tr>

        }
    </table>
    <br /><br />
    <a href="@Url.Action("Export5","Admin")">Export Report</a>
</body>
</html>
