
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductInfo</title>
</head>
<body>
    <h3>List Orders</h3>
    <table cellpadding="2" border="1">
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>ProductDescription</th>
            <th>CategoryName</th>
            <th>ProductPrice</th>



        </tr>
        @foreach (var p in ViewBag.ListProduct)
        {
            <tr>
                <td>@p.ProductID</td>
                <td>@p.ProductName</td>
                <td>@p.ProductDescription</td>

                <td>@p.CategoryName</td>
                <td>@p.ProductPrice</td>

            </tr>

        }
    </table>
    <br /><br />
    <a href="@Url.Action("Export1","Admin")">Export Report</a>
</body>
</html>
